<!-- ========= Buttons ========= -->

<!-- === Button === -->
<form action="" method="post">
    @csrf
    <button type="button" class="d-inline-block button border-0 rounded-pill y-to-d">ExampleText</button>
</form>
<!-- === Button small === -->
<form action="" method="post">
    @csrf
    <button type="button" class="d-inline-block button-sm border-0 rounded-pill y-to-d">ExampleText</button>
</form>

<!-- === Button circle === -->
<form
    action="{{ route('requests.destroy', ['company_id' => $company_id, 'request' => $data['id']]) }}"
    method="post"
>
    @csrf @method('')
    <button
        type="submit"
        class="button-circle-sm rounded-circle border-0 y-to-d me-3"
    >
        <div class="d-flex align-items-center justify-content-center">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-x-circle"
                viewBox="0 0 16 16"
            >
                <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                />
            </svg>
        </div>
    </button>
</form>

<!-- ========= ButtonsEnd ========= -->

<!-- ========= Cards ========= -->

<!-- === Card === -->
<div class="additional-info back-white rounded-3 shadow-sm p-4">
    <div class="row pb-3">
        <div class="col">
            <div class="fsize-20 font-500">Дополнительная информация</div>
        </div>
    </div>
    <div class="text-font">
        <div class="row pb-3">
            <div class="col-2">Тема:</div>
            <div class="col-10">{{ $data['title'] }}</div>
        </div>
        <div class="row pb-3">
            <div class="col-2">Описание:</div>
            <div class="col-10">data</div>
        </div>
    </div>
</div>

<!-- === Tab === -->
<div class="request__menu">
    <div class="container">
        <div class="d-flex">
            <a
                class="tab rounded-top rounded-3 back-light font-dark text-center font-500"
                href=""
                >Карточка заявки</a
            >
            <a
                class="tab rounded-top rounded-3 font-dark text-center font-500"
                href=""
                >Спецификация</a
            >
        </div>
    </div>
</div>

<!-- ========= CardsEnd ========= -->

<!-- ========= Links ========= -->

<!-- === Link-on-dark === -->
<div class=""></div>

<!-- ========= LinksEnd ========= -->

<!-- ========= Form ========= -->

<!-- === Simle-form === -->
<div class=""></div>

<!-- ========= FormEnd ========= -->













<!-- ========= SVG ========= -->
<!-- Крестик -->
<iframe
    class="w-100"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d500.8663690719773!2d55.3817390469361!3d57.71458766493508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e619ef30008317%3A0xefce1851e3502ca5!2z0YPQuy4g0JPQsNCz0LDRgNC40L3QsCwgNjUsINCe0YXQsNC90YHQuiwg0J_QtdGA0LzRgdC60LjQuSDQutGA0LDQuSwgNjE4MTAw!5e1!3m2!1sru!2sru!4v1650815389149!5m2!1sru!2sru"
    width="600"
    height="450"
    style="border: 0; display: block"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
>
</iframe>

<!--  -->
<!-- Редактирование -->
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg>

<!--  -->
<!-- ========= SVGend========= -->
